body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background: black;

}

section {
    display: flex;
    justify-content: center;
}

header {
    border: 3px dashed yellow;    
    margin-bottom: 10px;
}

h1 {
    color: white;
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
    font: normal 12pt Arial;
}

th {
    border: 2px solid white;
    color: white;

}

td {
    border: 1px solid white;
    color: chartreuse;

}